
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */

body {
    display: flex;
    justify-content: center;
    background-color: rgb(230, 230, 142);
    background-image: url("./black-thread-light.png");
}
h1 {
    align-self: center;
}

#calc-container {
    display: flex;
    flex-flow: column;
    width: 280px;
    background-color: #ffdebd;
    border: 1px solid black;
    border-radius: 4px;
    padding: 8px;
}

#fields {
    display: flex;
    flex-flow: column;
}

#fields > * {
    display: flex;
    flex-flow: row;
    width: 100%;
    justify-content: space-between;
}
